.submit-view {
    padding: 2em 0;
}

form {
    margin-top: 28px;
    font-size: 0;
}

.field {
    display: block;
    margin-bottom: 14px;
}

input, textarea {
    padding: 6px 10px;
    color: #222;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 240px;
}
textarea {
    min-width: 240px;
    max-width: 480px;
    min-height: 3em;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    font-size: 14px;
}

.button-group {
    padding-left: 100px;
}
.button-group .button {
    margin-right: 10px;
}