<section class="list-view">
    <h2 class="pull-left">Sandwiches</h2>
    <button class="pull-right button primary" ng-click="newSandwich()">New Sandwich</button>

    <div class="clear"></div>

    <div ng-repeat="sandwich in sandwiches" sandwich="sandwich"></div>
</section>