.sandwich {
    border-bottom: 1px dashed #21795f;
    margin: 10px 0;
    padding: 0 0 10px;
    color: #444;
}

.sandwich .number,
.sandwich .date,
.sandwich .title,
.sandwich .description {
    display: block;
}

.sandwich .number,
.sandwich .date {
    font-style: italic;
    text-align: right;
}
.sandwich .number {
    color: #777;
}

.sandwich .title {
    font-weight: bold;
}

.sandwich .description {
    margin: 1em 0 0 .5em;
    border-left: 3px solid #999;
    padding: .25em 1em 1em;
}
.list-view {
    padding: 2em 0;
}

.clear {
    clear: both;
    margin-bottom: 2em;
}
.submit-view {
    padding: 2em 0;
}

form {
    margin-top: 28px;
    font-size: 0;
}

.field {
    display: block;
    margin-bottom: 14px;
}

input, textarea {
    padding: 6px 10px;
    color: #222;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 240px;
}
textarea {
    min-width: 240px;
    max-width: 480px;
    min-height: 3em;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    font-size: 14px;
}

.button-group {
    padding-left: 100px;
}
.button-group .button {
    margin-right: 10px;
}