body {
    background: #ccc;
    color: #2cab88;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
    color: #21795f;
}

.header {
    background: #2cab88;
    border-bottom: 3px solid #21795f;
    color: #fff;
    padding: 1em;
}
.header h1 {
    color: #fff;
}

.container {
    max-width: 1024px;
    display: block;
    margin: 0 auto;
}

.button {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: bold;
    cursor: pointer;
    transition:
        color .4s ease-in-out,
        background .4s ease-in-out,
        border .4s ease-in-out;
}
.button:hover {
    background: #fff;
    color: #2cab88;
}

.button.negative {
    border-color: #eee;
    color: #eee;
}
.button.negative:hover {
    background-color: #eee;
    color: #333;
}

.button.primary {
    border-color: #2cab88;
    color: #2cab88;
}
.button.primary:hover {
    background-color: #2cab88;
    color: #fff;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}