<div class="sandwich">
    <div class="pull-right">
        <span class="number">#{{sandwich.number}}</span>
        <span class="date">{{sandwich.price | currency:'$'}}</span>
    </div>

    <span class="title">{{sandwich.title}}</span>
    <span class="description">{{sandwich.description}}</span>
</div>