.sandwich {
    border-bottom: 1px dashed #21795f;
    margin: 10px 0;
    padding: 0 0 10px;
    color: #444;
}

.sandwich .number,
.sandwich .date,
.sandwich .title,
.sandwich .description {
    display: block;
}

.sandwich .number,
.sandwich .date {
    font-style: italic;
    text-align: right;
}
.sandwich .number {
    color: #777;
}

.sandwich .title {
    font-weight: bold;
}

.sandwich .description {
    margin: 1em 0 0 .5em;
    border-left: 3px solid #999;
    padding: .25em 1em 1em;
}