<section class="submit-view">
    <h2>Submit</h2>
    <form ng-submit="submit()">
        <div class="field">
            <label>Title</label>
            <input name="title" ng-model="sandwich.title" />
        </div>

        <div class="field">
            <label>Price</label>
            <input name="price" ng-model="sandwich.price" />
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="description" ng-model="sandwich.description"></textarea>
        </div>

        <div class="button-group">
            <button class="button negative" ng-click="showList()">Cancel</button>
            <button class="button primary" type="submit">Save</button>
        </div>
    </form>
</section>